a.suggestion:hover span{
    display: inline;
    position: absolute;
	margin: 15px 0 0 5px;
    background: #dddddd;
    border: 1px solid #b30000;
    color: #000000;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
	text-align: center;
}

a.suggestion span{
	display:none;
}


td{
	width:168px;
	height:70px;
	text-align:left;
	padding:10px;
}

tr{
	padding:5px;
}

#caesar{
	width:40px;
	height:40px;	
}

#key, #key2{
	width:160px;
}

#list, #list2{
	width:160px;
}

#buttons
{
	text-align:center;
}


#caesar_encrypted{
	width:160px;
}
#caesar{
	width:160px;
}

#keyButton, #encryptButton{
	width: 150px;
	text-align:center;
	height:38px;
}

input, label {
    display:block;
}


#caesar_encrypted_3, #caesar_encrypted_2, #caesar_encrypted
{
	width:160px;
}

#caesarString, #caesarClassic
{
	width:160px;	
}